* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

/* Define primary and secondary colors */
:root {
  --primary-color: #ffffff;
  --secondary-gradient: linear-gradient(to right, #f7efc1, #e0bc6b);
  --tertiary-color: #232323;
}

.main-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../images/banner-image.jpeg");
  backdrop-filter: blur(10px);
  background-size: cover;
  transform: rotate(-180deg);
  z-index: -1;
}
.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(3, 3, 3, 0.051),
    rgba(0, 0, 0, 0.438)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.logo-image img {
  width: 118px;
}

.list-items ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.list-items ul li {
  display: inline;
}
.list-items ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
}

.login-btn {
  padding: 6px 32px;
  background: var(--secondary-gradient);
  border-radius: 24px;
  color: var(--tertiary-color) !important;
}
.header-content {
  position: relative;
  top: 30%;
  left: 5%;
  color: var(--primary-color);
}
.header-heading {
  font-weight: 400;
  font-size: 80px;
}
.header-text {
  font-weight: 700;
  font-size: 76px;
}
.header-para {
  line-height: 27px;
  font-size: 18px;
  font-weight: 300;
}
.header-button {
  position: relative;
  padding: 6px 32px;
  background: var(--secondary-gradient);
  border-radius: 24px;
  color: var(--tertiary-color) !important;
  border: none;
  cursor: pointer;
  top: 60px;
}

.header-icon {
  width: 64px;
  position: absolute;
  left: 85%;
  top: 140%;
}

/* about section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background: #000;
  position: relative;
}
.about-section::before {
  content: "";
  background: url("../images/about-group1.png") no-repeat center/cover;
  width: 170px;
  height: 340px;
  position: absolute;
  display: block;
  z-index: 1;
  top: 0%;
  left: 0%;
}

.about-section::after {
  content: "";
  background: url("../images/about-group2.png") no-repeat center/cover;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0%;
  bottom: 0%;
  width: 470px;
  height: 640px;

}

.about-container {
  display: flex;
  align-items: center;
  margin-top: 7%;
  width: 100%;
  padding-left: 4%;
}

.left-images {
  display: flex;
  flex-direction: column;

}

.half-img {
  object-fit: cover;
  padding-bottom: 10px;
}

.full-img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 15px; 
 }

.about-text {
  padding-left: 80px;
  color: var(--primary-color);
  
}
.about-name {
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
}
.about-heading {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  display: inline;
}
/* found section */
.found-section {
  background: #000;
}
.found-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  padding-right: 5%;

}

.found-content {
  width: 427px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1); /* Glass effect */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 15px;
}

.content-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

}
.content-text :nth-child(2) {
  flex: 1;
  padding-left: 10px;
}

.icon-up {
  transition: transform 0.3s ease-in-out;
}

summary {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.show summary {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.content-number {
  background: var(--secondary-gradient);
  color: var(--tertiary-color);
  font-weight: 400;
  border-radius: 50%;
  padding: 10px;
  width: 40px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-para {
  color: var(--primary-color);
  font-weight: 500;
}
.icon-up i{
 color: #e0bc6b;
}
.found-summary {
  color: var(--primary-color);
  font-weight: 300;
   padding: 0 50px;
}

/* explore us section */
.explore-us {
  background: #000;
  position: relative;
  height: 100vh;
}
.explore-us::before {
  content: "";
  background: url("../images/exploreimage2.png") no-repeat center/cover;
  width: 170px;
  height: 340px;
  display: block;
  z-index: 1;
  top: 0%;
  right: 0%;
  position: absolute;
}
.explore-us::after {
  content: "";
  background: url("../images/exploreimage1.png") no-repeat center/cover;
  width: 570px;
  height: 740px;
  display: block;
  z-index: 1;
  top: 0%;
  left: 0%;
  position: absolute;
}
.explore-heading {
  font-size: 44px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  line-height: 54px;
  padding-top: 8%;
}