* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, sans-serif;
}

/* Define primary and secondary colors */
:root {
  --primary-color: #ffffff;
  --secondary-gradient: linear-gradient(to right, #f7efc1, #e0bc6b);
  --tertiary-color: #232323;
}

.main-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../images/banner-image.jpeg");
  backdrop-filter: blur(10px);
  background-size: cover;
  transform: rotate(-180deg);
  z-index: -1;
}
.glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(3, 3, 3, 0.051),
    rgba(0, 0, 0, 0.438)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.logo-image img {
  width: 118px;
}

.list-items ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.list-items ul li {
  display: inline;
}
.list-items ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
}

.login-btn {
  padding: 6px 32px;
  background: var(--secondary-gradient);
  border-radius: 24px;
  color: var(--tertiary-color) !important;
}
.header-content {
  position: relative;
  top: 30%;
  left: 5%;
  color: var(--primary-color);
}
.header-heading {
  font-weight: 400;
  font-size: 80px;
}
.header-text {
  font-weight: 700;
  font-size: 76px;
}
.header-para {
  line-height: 27px;
  font-size: 18px;
  font-weight: 300;
}
.header-button {
  position: relative;
  padding: 6px 32px;
  background: var(--secondary-gradient);
  border-radius: 24px;
  color: var(--tertiary-color) !important;
  border: none;
  cursor: pointer;
  top: 60px;
}

.header-icon {
  width: 64px;
  position: absolute;
  left: 85%;
  top: 110%;
  cursor: pointer;
}

/* about section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background: #000;
  position: relative;
}
.about-section::before {
  content: "";
  background: url("../images/about-group1.png") no-repeat center/cover;
  width: 170px;
  height: 340px;
  position: absolute;
  display: block;
  z-index: 1;
  top: 0%;
  left: 0%;
}

.about-section::after {
  content: "";
  background: url("../images/about-group2.png") no-repeat center/cover;
  position: absolute;
  display: block;
  z-index: 1;
  right: 0%;
  bottom: 0%;
  width: 470px;
  height: 640px;
}

.about-container {
  display: flex;
  align-items: center;
  margin-top: 7%;
  width: 100%;
  padding-left: 4%;
}

.left-images {
  display: flex;
  flex-direction: column;
}

.half-img {
  object-fit: cover;
  padding-bottom: 10px;
}

.full-img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-right: 15px;
}

.about-text {
  padding-left: 80px;
  color: var(--primary-color);
}
.main--text {
 padding-left: 180px;
}
.about-name {
  font-weight: 300;
  font-size: 22px;
  line-height: 33px;
}
.about-heading {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  display: inline;
}
/* found section */
.found-section {
  background: #000;
}
.found-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  padding-right: 5%;
}

.found-content {
  width: 427px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.1); /* Glass effect */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 15px;
}

.content-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.content-text :nth-child(2) {
  flex: 1;
  padding-left: 10px;
}
.found-summary {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.icon-up.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.icon-up {
  transition: transform 0.3s ease-in-out;
}

summary {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.show summary {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.content-number {
  background: var(--secondary-gradient);
  color: var(--tertiary-color);
  font-weight: 400;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-para {
  color: var(--primary-color);
  font-weight: 500;
}
.icon-up i {
  color: #e0bc6b;
}
.found-summary {
  color: var(--primary-color);
  font-weight: 300;
  padding: 0 50px;
}

/* explore us section */
.explore-us {
  background: #000;
  position: relative;
}
.explore-us::before {
  content: "";
  background: url("../images/exploreimage2.png") no-repeat center/cover;
  width: 170px;
  height: 340px;
  display: block;
  z-index: 1;
  top: 0%;
  right: 0%;
  position: absolute;
}
.explore-us::after {
  content: "";
  background: url("../images/exploreimage1.png") no-repeat center/cover;
  width: 570px;
  height: 740px;
  display: block;
  z-index: 1;
  top: 0%;
  left: 0%;
  position: absolute;
}
.explore-heading {
  font-size: 44px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  line-height: 54px;
  padding-top: 8%;
  text-transform: uppercase;
}

.explore-link {
  max-width: fit-content;
  justify-self: anchor-center;
  margin-top: 40px;
}
.explore-items {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  padding: 8px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.explore-items li {
  list-style: none;
}
.explore-items li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  padding: 5px 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: var(--primary-color);
}
.page-all--link {
  background: var(--secondary-gradient) !important;
  border-radius: 20px;
}
.page-all--link a {
  color: var(--tertiary-color) !important;
}
/* explore cart */
.explore-card--section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 3%;
  margin-left: 6%;
}
.explore-card {
  background: rgba(255, 255, 255, 0.1);
  width: 30%;
  border-radius: 40px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart1-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart1-image img {
  padding: 20px;
  width: 100%;
}
.cart-detail img {
  padding: 20px;
}
.card-items--name {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

.card-items--name h3 {
  font-size: 20px;
  font-weight: 500;
}
.card-items--name {
  font-weight: 400;
  font-size: 28px;
}
.card-footer p {
  font-weight: 500;
  font-size: 16px;
  color: #9f9f9f !important;
}

.cart-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.cart-image img {
  width: 234px;
  height: 234px;
}
.cart-product-heading {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-color);
}

.explore-us--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
}

.explore-us--btn button {
  padding: 6px 32px;
  background: var(--secondary-gradient);
  border-radius: 24px;
  color: var(--tertiary-color) !important;
  cursor: pointer;
}

/* chefe-section */

.chefe-section {
  background: #000;
  height: 100vh;
  position: relative;
}
.chefe {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}
.chefe-section::before {
  content: "";
  background: url("../images/chefe-image1.png") no-repeat center/cover;
  width: 175px;
  height: 240px;
  display: block;
  z-index: 1;
  top: 0%;
  left: 5%;
  position: absolute;
}

.chefe-section::after {
  content: "";
  background: url("../images/chefe-image2.png") no-repeat center/cover;
  width: 370px;
  height: 556px;
  display: block;
  z-index: 1;
  bottom: 0%;
  right: 0%;
  position: absolute;
}

.chefe-container h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 44px;
  padding-top: 7%;
  text-align: center;
  text-transform: uppercase;
}
.chef-card {
  background: rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 334px;
  border-radius: 40px;
  position: relative;
  margin-top: 30%;
}
.chefe-image {
  position: absolute;
  top: -20%; 
  width: 100%;
  left: 12%;
}
.chefe-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 219px;
  height: 246px;
  padding: 20px;
}
.chef-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 55%;
  position: relative;
  color: var(--primary-color);
  gap: 15px;
}
.chef-info h2 {
  font-weight: 500;
  font-size: 22px;
}
.chef-info p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.chef-info a {
  padding: 6px 32px;
  background: var(--secondary-gradient);
  border-radius: 24px;
  color: var(--tertiary-color) !important;
  cursor: pointer;
  text-decoration: none;
}

/* feedback section */
.feedback-section{
  background: #000;
}
.feedback-container {
  color: var(--primary-color);
}
.feedback-container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  padding-top: 1%;
  color: var(--primary-color);
}
.feedback-cart-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 5%;
}
.back-btn {
 padding: 10px 10px;
 background: var(--secondary-gradient);
 border-radius: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 263px;
}
.back-btn i {
  color: var(--tertiary-color);
 
}
.feedback-card {
 background: rgba(255, 255, 255, 0.1);
 width: 395px;
 height: 263px;
 border-radius: 36px;
 padding: 20px;
 border: 1px solid; 
 border-image: linear-gradient( #131313, #e0bc6b) 1;
}
.feedback-info {
  display: flex;
  justify-content: space-between;

}
.feedback-info :nth-child(2) {
  flex: 1;
}
.feedback-email {
  padding-left: 15px;
}
.feeback--icon p {
  font-size: 22px;
  font-weight: bold;
  margin-top: -25px;
}

/* location section */
.location-section {
  background: #000;
  position: relative;
}
.location-section::before {
  content: "";
  background: url("../images/exploreimage1.png") no-repeat center/cover;
  width: 670px;
  height: 840px;
  display: block;
  z-index: 1;
  top: 0%;
  left: 0%;
  position: absolute;
}
.location-container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  padding-top: 2%;
  color: var(--primary-color);
}
.location-map {
 display: flex;
 justify-content: center;
 align-items: center;
}
.location-map img {
  width: 100%;
  height: 500px;
  margin-top: 40px;
}

/* FAQ Section */
.FAQ-section {
  background: #000;
  position: relative;
}
.FAQ-section::before {
  content: "";
  background: url("../images/FAQ-image.png") no-repeat center/cover;
  width: 140px;
  height: 300px;
  display: block;
  z-index: 1;
  top: 10%;
  left: 0%;
  position: absolute;

}
.FAQ-container {
  color: var(--primary-color);
  padding-bottom: 50px;
}
.FAQ-container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  padding-top: 7%;
  color: var(--primary-color);
  text-transform: uppercase;
}
.FAQ-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FAQ-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.FAQ-para-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.FAQ-message-section {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 1240px;
  margin-top: 50px;
  border-radius: 8px;
  transition: padding-bottom 0.3s ease-out;
}

.FAQ-icon {
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.active .FAQ-para-wrapper {
  max-height: 200px;
}

.active .FAQ-icon {
  color: #e0bc6b;
  transform: rotate(180deg); 
}
.FAQ-text {
  font-weight: 500;
  font-size: 24px;
}
.FAQ-para {
  font-weight: 400;
  font-size: 16px;
}
.FAQ-image {
  display: flex;
  justify-content: end;
  padding-right: 8%;
}
.FAQ-icon {
  rotate: 180deg;
  cursor: pointer;
}

/* footer section */
.footer-sectoin {
  background: #000;
}
.footer-container {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}
.footer-logo img {
  width: 118px;
  height: 118px;
}
.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.footer-link h3 {
  font-weight: 400;
  font-size: 26px;
}
.footer-link li {
  list-style: none;
  padding: 5px;
  
}
.footer-link li a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 300;
  font-size: 18px;
}
.footer-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-contact {
margin-top: 30px;
}
.footer-contact h3 {
  font-weight: 400;
  font-size: 26px;
}
.footer-icon p {
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
}
.follow-us h3 {
  font-weight: 400;
  font-size: 26px;
}
.social-links a i {
  color: var(--primary-color);

}
.fa-brands {
  border: 1px solid white;
  padding: 15px;
  border-radius: 50px;
  margin-right: 10px;
}
.Copyright-to {
  font-weight: 300;
  color: var(--primary-color);
  font-size: 18px;
   padding: 20px;
  text-align: center;
}

/* end of home section css */

/* menu sectoin css */

.menu-header {
  background: url("/assets/images/menu-image.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.menu-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   height: 100vh;
   color: var(--primary-color);
}
.menu-text h1 {
  font-weight: 700;
  font-size: 52px;
  padding-bottom: 20px;
}
.menu-text p {
  line-height: 27px;
  font-size: 18px;
  font-weight: 300;
  width: 1050px;
  text-align: center;
}
.appetizer-section {
  background: #000;
  height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
}
.appetizer-links {
  margin-top: -20px !important;
  padding-top: 7%;
}
.Appetizers-items {

}